<%= form_with(model: lover, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :status, 'ステータス' %>
    <%= f.select :status, {交際中: '交際中', 元カノ: '元カノ', 浮気中: '浮気中', 友達: '友達' }, class: 'form_control' %>
  </div>
  
  <%= f.submit '保存', class: 'btn btn-primary' %>
<% end %>