<h1>恋人一覧</h1>
<ul class="list-unstyled">
  <% @lovers.each do |lover| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
          恋人の名前: <%= link_to lover.name, lover %>
        </div>
        <div>
          <p>ステータス: <%= lover.status %></p>
        </div>
        <div>
          <% if current_user.id == lover.user_id %>
            <%= link_to "編集", edit_lover_path(lover) %>
            <%= link_to "削除", lover, method: :delete, data: {confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>  
  <% end %>
  <%= paginate @lovers %>
</ul>
<%= link_to 'トップページへ戻る',root_url%>