<h1>恋人一覧</h1>
    <% if @lovers.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>恋人</th>
            <th>ステータス</th>
            <th>画像</th>
          </tr>
        </thead>
        <tbody>
          <% @lovers.each do |lover| %>
            <tr>
              <td><%= link_to lover.id, lover %></td>
              <td><%= lover.name %></td>
              <td><%= lover.status %></td>
              <td>
                <% if lover.image? %>
                  <%= image_tag lover.image.url %>
                <% else %>
                  <%= image_tag "noimage.gif" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= paginate @lovers %>
      </div>
    <% end %>
<%= link_to 'トップページへ戻る',root_url%>